@import "bootstrap.less";
@import "variables.less";

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff'), url('../fonts/ptsans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('../fonts/ptsansitalic.woff2') format('woff2'), url('../fonts/ptsansitalic.woff') format('woff'), url('../fonts/ptsansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff'), url('../fonts/ptsansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('../fonts/ptsansbolditalic.woff2') format('woff2'), url('../fonts/ptsansbolditalic.woff') format('woff'), url('../fonts/ptsansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


.border-link(@border-color: rgba(33,124,61,0.3)) {
  border-bottom: 1px solid @border-color;
}
.navbar {
  @media (max-width: @screen-xs-max) {
    margin-bottom: 0;
  }
}
.navbar-brand {
  height: auto;
  padding: 15px 0 0;
  @media (min-width: @screen-sm-min) {
    padding-left: 0;
  }
}
.navbar-toggle {
  width: 40px;
  height: 40px;
  margin-top: 26px;
}
.city {
  color: @brand-primary;
  padding-left: 84px;
  @media (min-width: @screen-sm-min) {
    padding-left: 60px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 38px 0 0 0;
  }
}
.navbar-header {
  padding-bottom: 15px;
  @media (min-width: @screen-sm-min) {
    width: 28%;
  }
  @media (min-width: @screen-lg-min) {
    width: 32%;
  }
}
.navbar-collapse {
  border-top: 1px solid #ddd;
  @media (min-width: @screen-sm-min) {
    float: left;
    width: 72%;
    padding: 40px 0 0;
  }
  @media (min-width: @screen-lg-min) {
    width: 60%;
    float: right;
    padding: 36px 0 0;
  }
}
.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
  @media (min-width: @screen-sm-min) {
    width: 100%;
    text-align: justify;
    overflow: hidden;
    cursor: default;
    &:after {
      content: "1";
      margin-left: 100%;
      height: 1px;
      overflow: hidden;
      display: inline-block;
    }
  }
  > li {
    @media (min-width: @screen-sm-min) {
      display: inline;
      float: none;
    }
    > a {
      border-bottom: 1px solid #ddd;
      @media (min-width: @screen-sm-min) {
        display: inline-block;
        padding: 0;
        font-size: 14px;
        border-bottom: none;
      }
      @media (min-width: @screen-md-min) {
        font-size: 16px;
      }
    }
    &:last-child {
      > a {
        border-bottom: none;
      }
    }
  }
}
.promo-app {
  background: linear-gradient(to bottom, #227d37 65%, #233026 100%);
  color: #fff;
  padding: 20px 0 60px;
  overflow: hidden;
  @media (min-width: @screen-lg-min) {
    padding: 60px 0 110px;
  }
  .container {
    position: relative;
  }
  img {
    .img-responsive;
  }
  h1 {
    font-weight: 700;
    margin-bottom: 20px;
    @media (min-width: @screen-lg-min) {
      font-size: 48px;
      line-height: 1;
    }
  }
  p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 35px;
  }
  ol {
    margin: 30px 0;
    padding-left: 20px;
    @media (min-width: @screen-lg-min) {
      margin: 30px 0 40px;
    }
    li {
      padding-left: 10px;
      margin-bottom: 15px;
      @media (min-width: @screen-lg-min) {
        font-size: 18px;
      }
    }
  }
  .btn {
    width: 100%;
    max-width: 290px;
    font-size: 20px;
    font-weight: 700;
    height: 55px;
    padding: 12px 15px;
  }
}
.promo-app-info {
  @media (min-width: @screen-lg-min) {
    width: 40%;
  }
}
.promo-app-screen {
  @media (min-width: @screen-lg-min) {
    position: absolute;
    bottom: -15px;
    right: -110px;
    width: 75%;
  }
}
.about-app {
  padding: 60px 0;
}
.about-app-item {
  text-align: center;
  margin-bottom: 40px;
  @media (min-width: @screen-sm-min) {
    text-align: left;
    .clearfix;
    display: table;
  }
  @media (min-width: @screen-lg-min) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  img {
    width: 93px;
    margin-bottom: 15px;
    @media (min-width: @screen-sm-min) {
      float: left;
      margin-right: 25px;
      margin-bottom: 0;
    }
    @media (min-width: @screen-lg-min) {
      width: 111px;
    }
  }
  p {
    max-width: 240px;
    margin: 0 auto;
    @media (min-width: @screen-sm-min) {
      max-width: none;
      display: table-cell;
      vertical-align: middle;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 18px;
    }
  }
}
.about-app-screen {
  @media (max-width: @screen-xs-max) {
    padding: 0 40px;
  }
  img {
    .img-responsive;
    margin: 0 auto;
  }
}
.quote {
  background: #f6f6f6;
  padding: 60px 0;
  text-align: center;
  @media (min-width: @screen-lg-min) {
    padding: 90px 0;
  }
}
.quote-author {
  font-weight: 700;
  margin-bottom: 0;
}
.quote-author-name {
  font-weight: 700;
  text-transform: uppercase;
}
.quote-text {
  font-style: italic;
  max-width: 740px;
  margin: @line-height-computed/1.5 auto 0;
  @media (min-width: @screen-lg-min) {
    font-size: 20px;
    max-width: 940px;
  }
}
.about-reg {
  padding: 60px 0 30px;
  @media (min-width: @screen-lg-min) {
    padding: 90px 0;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    @media (min-width: @screen-lg-min) {
      font-size: 26px;
      margin-bottom: 60px;
    }
  }
  a {
    .border-link();
  }
}
.about-reg-text {
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 50px;
  }
}
.about-reg-screen {
  img {
    .img-responsive;
    margin: 0 auto;
  }
}
.about-reg-steps {
  margin-bottom: 50px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 80px;
  }
}
.about-reg-list {
  .list-unstyled;
  counter-reset: num;
  max-width: 490px;
  li {
    font-size: 18px;
    padding: 20px 15px 20px 50px;
    position: relative;
    &:before {
      content: counter(num)'.';
      counter-increment: num;
      margin-right: 10px;
      position: absolute;
      top: 20px;
      left: 25px;
    }
    &.active {
      border: 1px dashed #aaa;
    }
  }
}
.about-reg-carousel {
  .carousel-cell {
    width: 100%;
    img {
      .img-responsive;
      margin: 0 auto;
    }
  }
  .flickity-page-dots .dot {
    background: @brand-primary;
  }
}
.faq {
  background: #eceff4;
  padding: 30px 0 60px;
  @media (min-width: @screen-lg-min) {
    padding: 70px 0 20px;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    @media (min-width: @screen-lg-min) {
      font-size: 26px;
      margin-bottom: 60px;
    }
  }
}
.question {
  font-weight: 700;
  padding-left: 35px;
  margin-bottom: 20px;
  position: relative;
  @media (min-width: @screen-lg-min) {
    font-size: 18px;
    margin-bottom: 35px;
  }
  &:before {
    content: "–";
    color: @brand-primary;
    font-size: 28px;
    line-height: 16px;
    position: absolute;
    top: 2px;
    left: 0;
    @media (min-width: @screen-lg-min) {
      top: 5px;
    }
  }
  &.open {
    &:before {
      content: "+";
    }
  }
  span {
    border-bottom: 1px dashed #999;
    cursor: pointer;
  }
}
.answer {
  color: #575756;
  padding-left: 35px;
  margin-bottom: 30px;
}
.reg-btn {
  display: block;
  width: 100%;
  max-width: 290px;
  font-size: 20px;
  font-weight: 700;
  height: 55px;
  padding: 12px 15px;
  margin-bottom: 35px;
  @media (min-width: @screen-sm-min) {
    margin: 0 auto 35px;
  }
  @media (min-width: @screen-lg-min) {
    margin: 0;
  }
}
.faq-list {
  margin-bottom: 40px;
  @media (min-width: @screen-sm-min) {
    max-width: 720px;
  }
}
.question-form {
  @media (min-width: @screen-sm-min) {
    max-width: 580px;
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media (min-width: @screen-lg-min) {
      font-size: 20px;
      margin-top: 0;
    }
  }
  .btn {
    display: block;
    width: 100%;
    max-width: 340px;
    font-size: 20px;
    font-weight: 700;
    height: 55px;
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
    > .row {
      > div:nth-of-type(1) {
        padding-right: 8px;
      }
      > div:nth-of-type(2) {
        padding-left: 8px;
      }
    }
  }
}
label {
  font-size: 13px;
  font-weight: 400;
}
.form-control {
  height: 43px;
  box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.modal-header {
  @media (min-width: 600px) {
    padding: 20px 35px 15px;
  }
  @media (min-width: @screen-sm-min) {
    padding: 25px 40px 20px;
  }
}
.modal-body {
  @media (min-width: 600px) {
    padding: 15px 35px 20px;
  }
  @media (min-width: @screen-sm-min) {
    padding: 20px 40px 25px;
  }
}
.modal-dialog {
  @media screen and (min-width: @screen-lg-min) {
    margin: 100px auto;
  }
}

.development-link {
  margin-top:90px;
}
